@import "./assets/font/fonts.css";
@import "./assets/icons/flaticon.css";


body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Vazir !important;
  text-align: right !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer {
  background-color: #1A4C89;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 10px 25px;
  color: white;
  margin-top: auto;
  width: 100%;
}

.footer-right {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.footer-right i {
  margin-left: 10px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.social-icon-wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.social-icon-wrapper i {
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.modal-header {
  flex-direction: row-reverse;
}

.modal-header .close {
  margin: 0 !important;
  margin-top: -1rem !important;
}
